     h2 {
     color: palevioletred;
     body {
         font-size: 72.5%
     }
     p {
         font-size: 1.4em;
         line-height: 1.8em;
     }
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
         font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
     }
     p {
         font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     }